<div class="container">


<% if current_user %>
List of users:
<br>
<% all_users.each do |user| %>
<%= user.name %> <%= user.email  %>
<br>
<% end %>
<% else %>
welcome
<% end %>

  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>
